<unity>
  <alias alias="IntercepterLogger" type="CF.VRent.Common.IntercepterLogger, CF.VRent.Common">
  </alias>
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <container name="UnionPayFunctionalityContainer">
    <extension type="Interception" />
    <register type="CF.VRent.UPSDK.IUnionPayUtils, CF.VRent.UPSDK" mapTo="CF.VRent.UPSDK.UnionPayUtils, CF.VRent.UPSDK">
      <interceptor type="InterfaceInterceptor" />
      <interceptionBehavior type="IntercepterLogger" />
      <interceptionBehavior type="CF.VRent.UPSDK.Interception.UnionPayFunctionalityInterceptionBehavior, CF.VRent.UPSDK" />
    </register>
  </container>
</unity>