<VRentEmail templateRootPath="C:\Project\EmailTemplate\" name="VRentEmail">
  <!--address - host, 
        from - sender email, 
        pwd - Password-->
  <host address="mail01.dc.pek.mcon.net" from="test@mcon-group.com" pwd="" async="true"></host>
  <addressGroups>
    <addresses name="EndUser">
      <!--don't need add addresses here-->
    </addresses>
    <addresses name="SC">
      <!--Service center email address-->
      <address value="adam.liu@mcon-group.com"></address>
      <address value=""></address>
      <address value=""></address>
    </addresses>
    <addresses name="DN_Internal">
      <address value="adam.liu@mcon-group.com"></address>
      <address value=""></address>
    </addresses>
    <addresses name="TestUser">
      <!--Test user email address. if don't want to send emails to test user, set empty string-->
      <address value="adam.liu@mcon-group.com"></address>
      <address value=""></address>
      <address value=""></address>
    </addresses>
  </addressGroups>
  <templates>
    <!--Fee deduction-->
    <template filePath="Preauthorization_FeeDeduction_Successful.html" typeName="Preauthorization_FeeDeduction_Successful" subject="速享租车费扣款成功 Deduction of your VRent fees completed"></template>
    <template filePath="Preauthorization_FeeDeduction_Failed.html" typeName="Preauthorization_FeeDeduction_Failed,Preauthorization_FeeDeduction_Failed_SC" subject="速享租车费扣款失败 Failed to deduct your VRent fees"></template>

    <!--Indirect fee deduction-->
    <template filePath="Preauthorization_IndirectFeeDeduction_Failed.html" typeName="Preauthorization_IndirectFeeDeduction_Failed,Preauthorization_IndirectFeeDeduction_Failed_SC" subject="您的速享租车额外费用扣款失败 The deduction of your VRent additional fees has failed"></template>
    <template filePath="Preauthorization_IndirectFeeDeduction_Successful.html" typeName="Preauthorization_IndirectFeeDeduction_Successful" subject="您的速享租车额外费用扣款成功 Your VRent additional fees have been successfully deducted."></template>
    <template filePath="" typeName="Preauthorization_IndirectFeeRemainder" subject="前次预订速享租车额外费用通知 Additional fees notification from previous VRent booking"></template>
    <!--Preauth-->
    <template filePath="Preauthorization_Preauth_Failed.html" typeName="Preauthorization_Preauth_Failed,Preauthorization_Preauth_Failed_SC" subject="速享租车费预授权失败 Failed to Preauthorise your VRent rental fees"></template>
    <template filePath="Preauthorization_Preauth_Successful.html" typeName="Preauthorization_Preauth_Successful" subject="速享租车费预授权成功 Preauthorisation of your VRent rental fees completed"></template>

    <!--Preauth cancellation-->
    <template filePath="Preauthorization_PreauthCacellation_Successful.html" typeName="Preauthorization_PreauthCacellation_Successful" subject="速享租车费预授权取消成功 Cancellation of your VRent rental fees preauthorisation completed"></template>
    <template filePath="Preauthorization_PreauthCacellation_Failed.html" typeName="Preauthorization_PreauthCacellation_Failed,Preauthorization_PreauthCacellation_Failed_SC" subject="速享租车费预授权取消失败 Failed to cancel your VRent rental fees preauthorisation "></template>

    <!--Preauth completion-->
    <template filePath="Preauthorization_FeeDeduction_Successful.html" typeName="Preauthorization_PreauthComplete_Successful" subject="速享租车费扣款成功 Deduction of your VRent fees completed"></template>
    <template filePath="Preauthorization_PreauthComplete_Failed.html" typeName="Preauthorization_PreauthComplete_Failed,Preauthorization_PreauthComplete_Failed_SC" subject="速享租车费扣款失败 Failed to deduct your VRent rental fees"></template>

    <!--User mgmt-->
    <template filePath="Portal_UserMgmt_CorporateUserCreation.html" typeName="Portal_UserMgmt_CorporateUserCreation" subject="成为速享租车企业用户 Become a VRent corporate user"></template>
    <template filePath="" typeName="Portal_UserMgmt_License_SC_BasicApproved" subject="开始享受速享租车！ Start enjoying Vrent!"></template>
    <template filePath="Portal_UserMgmt_License_SC_Approved.html" typeName="Portal_UserMgmt_License_SC_Approved" subject="开始享受速享租车！ Start enjoying Vrent!"></template>
    <template filePath="Portal_UserMgmt_License_SC_Reject.html" typeName="Portal_UserMgmt_License_SC_BasicReject" subject="速享租车注册账户激活失败 VRent account activation failed"></template>
    <template filePath="Portal_UserMgmt_License_SC_Reject.html" typeName="Portal_UserMgmt_License_SC_Reject" subject="速享租车注册账户激活失败 VRent account activation failed"></template>
    <template filePath="Portal_UserMgmt_UserTransfer_VM_Approved.html" typeName="Portal_UserMgmt_UserTransfer_VM_Approved" subject="企业客户确认 Corporate user confirmation"></template>
    <template filePath="Portal_UserMgmt_UserTransfer_VM_Reject.html" typeName="Portal_UserMgmt_UserTransfer_VM_Reject" subject="您成为速享租车企业用户申请被拒 Your registration as a VRent corporate user has been declined"></template>
    <template filePath="Portal_UserMgmt_UserDeactivation.html" typeName="Portal_UserMgmt_UserDeactivation" subject="您速享租车的帐户已经停用 Your VRent account has been deactivated"></template>
    <template filePath="Portal_UserMgmt_UserReactivation.html" typeName="Portal_UserMgmt_UserReactivation_FromBookingDeactive" subject="速享租车用户身份重新激活 VRent user reactivation"></template>
    <template filePath="Portal_UserMgmt_UserReactivation.html" typeName="Portal_UserMgmt_UserReactivation_FromKemasDisabledAndBlock" subject="速享租车用户身份重新激活 VRent user reactivation"></template>
    <template filePath="Portal_UserMgmt_UserTransfer_End2Corporate.html" typeName="Portal_UserMgmt_UserTransfer_End2Corporate" subject="速享租车企业客户申请 Application to become a VRent corporate user"></template>
    <template filePath="Portal_UserMgmt_UserTransfer_Corporate2End.html" typeName="Portal_UserMgmt_UserTransfer_Corporate2End" subject="速享租车企业用户账户变更 Change in a VRent corporate user"></template>
    <!--User registration-->
    <template filePath="App_UserMgmt_UserCreation.html" typeName="App_UserMgmt_UserCreation" subject="Test"></template>

    <!--Client Terminal-->
    <template filePath="Portal_Client_Terminal.html" typeName="Portal_Client_Terminal" subject="成为速享租车个人用户 Become a VRent Direct User."></template>
    <template filePath="Portal_Client_CreatedVM.html" typeName="Portal_Client_CreatedVM" subject="您已迈出成为速享租车企业客户的第一步 You have just taken the first step to becoming a VRent corporate user."></template>

    <template filePath="ScheduleJob_DebitNote_Created.html" typeName="ScheduleJob_DebitNote_Created" subject="DebitNote"></template>
  </templates>
</VRentEmail>