<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpBinding_IFapiaoPreferenceService" />
    <binding name="BasicHttpBinding_IDataService" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="BasicHttpBinding_IPaymentService" />
    <binding name="BasicHttpBinding_IBigFileReceiverService" closeTimeout="01:00:00"
      openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
      maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
      transferMode="Streamed">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    </binding>
    <binding name="WSKemasAuthBinding" />
    <binding name="WSKemasCatalogBinding" />
    <binding name="WSKemasConfigBinding" />
    <binding name="WSKemasReservationBinding" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="WSKemasUserBinding" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
    <binding name="WSKemasReservation2Binding" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="WSKemasUser2Binding" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
    <binding name="WSKemasConfig2Binding" />
    <binding name="BasicHttpBinding_ITermsConditionService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
    <binding name="BasicHttpBinding_IAccountingService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
  </basicHttpBinding>
</bindings>