<bindings>
  <basicHttpBinding>
    <binding name="LargerBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" />
    </binding>
    <binding name="LargeFileReceiveBinding" transferMode="Streamed" 
                 receiveTimeout="01:00:00" closeTimeout="01:00:00" openTimeout="01:00:00" sendTimeout="01:00:00"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128"
                 maxStringContentLength="2147483647" maxArrayLength="2147483647"
                  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    </binding>
  </basicHttpBinding>
</bindings>