<services>
  <service behaviorConfiguration="CF.VRent.DataAccessProxy.Service1Behavior"
    name="CF.VRent.DataAccessProxy.DataService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargerBinding" contract="CF.VRent.DataAccessProxy.IDataService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="CF.VRent.DataAccessProxy.Service1Behavior"
    name="CF.VRent.DataAccessProxy.FapiaoPreferenceService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargerBinding" contract="CF.VRent.DataAccessProxy.IFapiaoPreferenceService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="CF.VRent.DataAccessProxy.Service1Behavior"
    name="CF.VRent.DataAccessProxy.PaymentService">
    <endpoint address="" binding="basicHttpBinding" contract="CF.VRent.DataAccessProxy.IPaymentService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="CF.VRent.DataAccessProxy.TermsConditionService" behaviorConfiguration="CF.VRent.DataAccessProxy.Service1Behavior">
    <endpoint address=""
      binding="basicHttpBinding" bindingConfiguration="LargerBinding" contract="CF.VRent.DataAccessProxy.ITermsConditionService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service name="CF.VRent.DataAccessProxy.AccountingService" behaviorConfiguration="CF.VRent.DataAccessProxy.Service1Behavior">
    <endpoint address=""
      binding="basicHttpBinding" bindingConfiguration="LargerBinding" contract="CF.VRent.DataAccessProxy.IAccountingService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>

  <service name="CF.VRent.DataAccessProxy.BigFileService" behaviorConfiguration="CF.VRent.DataAccessProxy.Service1Behavior">
    <endpoint address=""
      binding="basicHttpBinding" bindingConfiguration="LargeFileReceiveBinding" contract="CF.VRent.DataAccessProxy.IBigFileService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
</services>