<appSettings>
  <add key="ProxyListenerAddress" value="http://localhost/Proxy"/>
  <!--UPSDK config-->
  <!--Test config-->
  <!-- Cert Path PM_700000000000001_acp.pfx-->
  <add key="sdk.signCert.path" value="C:\Project\certs\PM_700000000000001_acp.pfx" />
  <!-- Cert pwd -->
  <add key="sdk.signCert.pwd" value="000000" />
  <!-- Cert Type -->
  <add key="sdk.signCert.type" value="PKCS12" />
  <!-- Encrypt cert path -->
  <add key="sdk.encryptCert.path" value="C:\Project\certs\encrypt.cer" />
  <!-- Validation cert root path -->
  <add key="sdk.validateCert.dir" value="C:\Project\certs\" />
  <!-- FrontEnd trade url -->
  <add key="sdk.frontTransUrl" value="https://101.231.204.80:5000/gateway/api/frontTransReq.do" />
  <!-- BackEnd trade url -->
  <add key="sdk.backTransUrl" value="https://101.231.204.80:5000/gateway/api/backTransReq.do" />
  <!-- Trade status query url -->
  <add key="sdk.singleQueryUrl" value="https://101.231.204.80:5000/gateway/api/queryTrans.do" />
  <!-- File transfer url -->
  <add key="sdk.fileTransUrl" value="https://101.231.204.80:5000/gateway/api/fileTransRequest.do" />
  <!-- Batch payment url -->
  <add key="sdk.batTransUrl" value="https://101.231.204.80:5000/gateway/api/batchTrans.do" />
  <!-- Card payment url -->
  <add key="sdk.cardRequestUrl" value="https://101.231.204.80:5000/gateway/api/cardTransReq.do" />
  <!-- App payment url -->
  <add key="sdk.appRequestUrl" value="https://101.231.204.80:5000/gateway/api/appTransReq.do" />
  <add key="MERACCOUNT" value="898111475190101" />
  <add key="MERTRID" value="62000000001" />
  <add key="MERTOKENTYPE" value="01" />
  <!--preauthorizaiton callback-->
  <add key="UnionPayListenerAddress" value="http://booking-vrent.mcon.net/uplTest"/>
  <add key="proxyAddress" value="" />
  <add key="proxyCredentialUserName" value="" />
  <add key="proxyCredentialPassword" value="" />
</appSettings>