<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="VwfscnLog" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log" />
    <section name="VwfscnLog_Email" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log" />
    <section name="VwfscnLog_Pay" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log" />
    <section name="VRentEmail" type="CF.VRent.Email.EmailConfiguration, CF.VRent.Email" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <system.diagnostics configSource="Config\\Diagnostics\\Diagnostics.config"> 
  </system.diagnostics>
    <unity configSource="Config\\Unity\\Unity.config">
  </unity>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <!--templateRootPath - email template files root path-->
  <VRentEmail configSource="Config\\VRentEmail\\VRentEmail.config">
  </VRentEmail>
  <appSettings configSource="Config\\AppSettings\\appSettings.config">
  </appSettings>
  <connectionStrings configSource="Config\\Connection\\connectionStrings.config">
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
    <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <bindings configSource="Config\\ServiceModel\\Bindings.config">
    </bindings>
    <client />
    <services configSource="Config\\ServiceModel\\Services.config">
    </services>
    <behaviors configSource="Config\\ServiceModel\\Behaviors.config">
    </behaviors>
  </system.serviceModel>
  <VwfscnLog configSource="Config\\VwfscnLog\\VwfscnLog.config">
  </VwfscnLog>
  <VwfscnLog_Email configSource="Config\\VwfscnLog\\VwfscnEmailLog.config">
  </VwfscnLog_Email>
  <VwfscnLog_Pay configSource="Config\\VwfscnLog\\VwfscnPayLog.config">
  </VwfscnLog_Pay>
</configuration>