<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
                maxMessagesToLog="1000000" maxSizeOfMessageToLog="26214400" />
            <endToEndTracing propagateActivity="true" activityTracing="true"
                messageFlowTracing="true" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFapiaoPreferenceService" />
                <binding name="WSKemasAuthBinding" />
                <binding name="WSKemasCatalogBinding" />
                <binding name="WSKemasConfigBinding" />
                <binding name="WSKemasReservationBinding" />
                <binding name="WSKemasUserBinding" />
                <binding name="WSKemasReservation2Binding" />
                <binding name="WSKemasUser2Binding" />
                <binding name="WSKemasConfig2Binding" />
                <binding name="BasicHttpBinding_IPaymentService" />
                <binding name="BasicHttpBinding_ITermsConditionService" />
                <binding name="BasicHttpBinding_IDataService" />
                <binding name="WSKemasReservationBinding1" />
                <binding name="WSKemasReservation2Binding1" />
                <binding name="BasicHttpBinding_IAccountingService" />
                <binding name="BasicHttpBinding_IBigFileService" />
                <binding name="BasicHttpBinding_IBigFileService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8011/FapiaoPreferenceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFapiaoPreferenceService"
                contract="FapiaoPreferenceProxy.IFapiaoPreferenceService"
                name="BasicHttpBinding_IFapiaoPreferenceService" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?auth"
                binding="basicHttpBinding" bindingConfiguration="WSKemasAuthBinding"
                contract="KEMASWSIF_AUTHRef.WSKemasPortType" name="KemasPort" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?catalog"
                binding="basicHttpBinding" bindingConfiguration="WSKemasCatalogBinding"
                contract="KEMASWSIF_CATALOGRef.WSKemasPortType" name="KemasPort1" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?user"
                binding="basicHttpBinding" bindingConfiguration="WSKemasUserBinding"
                contract="KEMASWSIF_USERRef.WSKemasPortType" name="KemasPort4" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carsharing/services/customer_soap/vwnms/?user"
                binding="basicHttpBinding" bindingConfiguration="WSKemasUser2Binding"
                contract="KEMASWSIF_USERRef.WSKemasUserPortType" name="KemasUser2Port" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?config"
                binding="basicHttpBinding" bindingConfiguration="WSKemasConfigBinding"
                contract="KEMASWSIF_CONFIGRef.WSKemasPortType" name="KemasPort2" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carsharing/services/customer_soap/vwnms/?config"
                binding="basicHttpBinding" bindingConfiguration="WSKemasConfig2Binding"
                contract="KEMASWSIF_CONFIGRef.WSKemasPortType2" name="KemasConfigPort2" />
            <endpoint address="http://localhost:8011/PaymentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
                contract="PaymentService.IPaymentService" name="BasicHttpBinding_IPaymentService" />
            <endpoint address="http://localhost:8011/TermsConditionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITermsConditionService"
                contract="TermsConditionService.ITermsConditionService" name="BasicHttpBinding_ITermsConditionService" />
            <endpoint address="http://localhost:8011/DataService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDataService" contract="DataAccessProxy.IDataService"
                name="BasicHttpBinding_IDataService" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?reservation"
                binding="basicHttpBinding" bindingConfiguration="WSKemasReservationBinding"
                contract="KEMASWSIF_RESERVATIONRef.WSKemasPortType" name="KemasPort3" />
            <endpoint address="http://download.kemas.de:80/kmn/applications/carsharing/services/customer_soap/vwnms/?reservation"
                binding="basicHttpBinding" bindingConfiguration="WSKemasReservation2Binding"
                contract="KEMASWSIF_RESERVATIONRef.WSKemasPortType2" name="kemasPort2" />
            <endpoint address="http://localhost:8011/AccountingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingService"
                contract="AccountingService.IAccountingService" name="BasicHttpBinding_IAccountingService" />
            <endpoint address="http://localhost:8011/BigFileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBigFileService"
                contract="AccountingService.IBigFileService" name="BasicHttpBinding_IBigFileService" />
            <endpoint address="http://localhost:8011/BigFileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBigFileService1"
                contract="BigFileService.IBigFileService" name="BasicHttpBinding_IBigFileService1" />
        </client>
    </system.serviceModel>
</configuration>