<VwfscnLog_GL>
  <listeners>
    <add name="textListener" type="text" folder="C:\vrent\log\" fileName="GeneralLedger.txt" />
    <!--<add name="l2" type="database" connectionString="Server=10.42.69.102;Database=CENTRAL_LOG;uid=sa;pwd=zaq12wsx;"/>-->
  </listeners>
  <filters minSeverity="low" maxLengthOfLogQueue="10000" enableSync="false" />
</VwfscnLog_GL>
