<JobContext>
  <jobs>
    <job name="debtNoteTimerJob" jobType="VRentDJ.Job.PointIntervalTimerJobContainer, VRentDJ" unitName="debtNoteJob">
      <parameters>
        <!--
              M:do job at every specified month; 
              D:do job at every specified date; 
              h:do job at every specified hour; 
              m:do job at every specified minute; 
              s:do job at every specified second
              the fomat is like M or D or h followed by jobTime -->
        <add name="jobTimePattern" value="m"></add>
        <add name="jobTime" value="11"></add>
      </parameters>
    </job>
  </jobs>
</JobContext>