<JobDebugger enabled="true">
  <debugger name="socket" enabled="true">
    <item name="sendInfoThroughSocket" enabled="true" initAfterInstantiation="true" order="1"
       debuggerType="VRentDJ.Debug.SendSocketInfo, VRentDJ">
      <parameters>
        <add name="ip" value="127.0.0.1"></add>
        <add name="port" value="8099"></add>
      </parameters>
    </item>
  </debugger>
</JobDebugger>