<JobUnit enabled="true">
  <parameters>
    <add name="userName" value="service.center@abc.com"></add>
    <add name="userPwd" value="123456"></add>
    <add name="debitDayInterval" value="5"></add>
    <add name="debitMonth" value="0"></add>
  </parameters>
  <unit name="scheduleJob" enabled="true">
    <item name="feeDeduction" enabled="true" initAfterInstantiation="false"
       unitType="VRentDJ.Units.JobFeeDeduction, VRentDJ" order="1" debuggerItemName="sendInfoThroughSocket"></item>
    <item name="indirectFeeDeduction" enabled="true" initAfterInstantiation="false"
         unitType="VRentDJ.Units.JobIndirectFeeDeduction, VRentDJ" order="2" debuggerItemName="sendInfoThroughSocket"></item>
  </unit>
  <unit name="transactionJob" enabled="true">
    <item name="retryTrans" enabled="true" initAfterInstantiation="false"
       unitType="VRentDJ.Units.JobRetryTransaction, VRentDJ" order="1" debuggerItemName="sendInfoThroughSocket"></item>
  </unit>
  <unit name="dubLedgerJob" enabled="true">
    <item name="dubLegr" enabled="true" initAfterInstantiation="false"
           unitType="VRentDJ.Units.JobGeneralLedger, VRentDJ" order="1" debuggerItemName="sendInfoThroughSocket">
      <parameters>
        <add name="type" value="1"></add>
      </parameters>
    </item>
  </unit>
  <unit name="debtNoteJob" enabled="true">
    <item name="debtGen" enabled="true" initAfterInstantiation="false"
       unitType="VRentDJ.Units.JobDebitNote, VRentDJ" order="1" debuggerItemName="sendInfoThroughSocket">
      <parameters>
        <add name="time" value="1"></add>
      </parameters>
    </item>
  </unit>
  <unit name="debtNoteJobFormal" enabled="true">
    <item name="debtGen" enabled="true" initAfterInstantiation="false"
             unitType="VRentDJ.Units.JobDebitNote, VRentDJ" order="1" debuggerItemName="sendInfoThroughSocket">
      <parameters>
        <add name="time" value="2"></add>
      </parameters>
    </item>
    <item name="ccbLegr" enabled="true" initAfterInstantiation="false"
           unitType="VRentDJ.Units.JobGeneralLedger, VRentDJ" order="2" debuggerItemName="sendInfoThroughSocket">
      <parameters>
        <add name="type" value="2"></add>
      </parameters>
    </item>
  </unit>
</JobUnit>