<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="VwfscnLog" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log" />
    <section name="VwfscnLog_GL" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log"/>
    <section name="VwfscnLog_JobTimer" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log"/>
    <section name="VwfscnDebitNoteLog" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="JobContext" type="CF.VRent.Job.Job.Config.JobContextSection, CF.VRent.Job"/>
    <section name="JobDebugger" type="CF.VRent.Job.Debug.Config.JobDebugSection, CF.VRent.Job"/>
    <section name="JobUnit" type="CF.VRent.Job.Units.Config.JobUnitSection, CF.VRent.Job"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <httpRuntime maxRequestLength="2097151"/>
  </system.web>
  <appSettings>
    <add key="TemplateFolder" value="Template"/>
    <add key="Mode" value="1"/>

    <add key="localTest" value="false"/>
  </appSettings>
  <JobContext configSource="Config\\Job\\JobContext.config">
  </JobContext>
  <JobDebugger configSource="Config\\Job\\JobDebugger.config">
  </JobDebugger>
  <JobUnit configSource="Config\\Job\\JobUnit.config">
  </JobUnit>

  <unity configSource="Config\\Unity\\Unity.config">
  </unity>

  <system.serviceModel>
    <bindings configSource="Config\\ServiceModel\\Bindings.config">
    </bindings>
    <client configSource="Config\\ServiceModel\\Client.config">
    </client>
  </system.serviceModel>
  <VwfscnLog configSource="Config\\VwfscnLog\\VwfscnLog.config">
  </VwfscnLog>
  <VwfscnLog_GL configSource="Config\\VwfscnLog\\VwfscnGLLog.config">
  </VwfscnLog_GL>
  <VwfscnLog_JobTimer configSource="Config\\VwfscnLog\\VwfscnJobTimerLog.config">
  </VwfscnLog_JobTimer>
  <VwfscnDebitNoteLog configSource="Config\\VwfscnLog\\VwfscnDebitNoteLog.config">
  </VwfscnDebitNoteLog>
</configuration>