<appSettings>
  <!-- debug pricing only, need to remove in production-->
  <add key="ThrowPricingException" value="0" />
  <!--common user id which using the call the function patch -->
  <add key="SchemaRelativePath" value="Schema\Pricing_Response_XML_Definition.xsd" />
  <add key="gid" value="1c9d9c82-d074-45a4-863e-e7eeb2384c64" />
  <add key="admin" value="service.center@abc.com"/>
  <add key="password" value="123456"/>
  
  <add key="PreviewJobDay" value="9"/>
  <add key="FinalJobDay" value="2"/>
  <add key="TemplateFolder" value="Template"/>
  <add key="Mode" value="1"/>

  <add key="IOS" value=""/>
  <add key="Android" value=""/>
  <add key="VRentUrl" value=""/>
  <add key="EnableLogView" value="true"/>
</appSettings>
