<behaviors>
  <serviceBehaviors>
    <behavior>
      <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
    <behavior name="VrentHttpBehavior">
      <!--<clear/>-->
      <!--<webHttp/>-->
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <VrentBehaviorExtention logErrorEnabled="true" logDebugEnabled="true" showStackTrace="true">
        <messageTransfer enabled="false" jsonFormatter="None" responseFormatter="application/json"></messageTransfer>
      </VrentBehaviorExtention>
    </behavior>
  </endpointBehaviors>
</behaviors>