<bindings>
  <webHttpBinding>
    <binding name="RestBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:03:00">
      <readerQuotas maxStringContentLength="2147483647" maxDepth="32768" maxArrayLength="32768" maxBytesPerRead="2147483647" />
    </binding>
  </webHttpBinding>
  <basicHttpBinding>
    <binding name="BasicHttpBinding_IFapiaoPreferenceService" />
    <binding name="BasicHttpBinding_IDataService" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="BasicHttpBinding_IPaymentService" />
    <binding name="WSKemasAuthBinding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False"/>
    <binding name="WSKemasCatalogBinding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False"/>
    <binding name="WSKemasConfigBinding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False"/>
    <binding name="WSKemasReservationBinding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="WSKemasUserBinding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
    <binding name="WSKemasReservation2Binding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="WSKemasUser2Binding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False" maxBufferPoolSize="2147483" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
    <binding name="WSKemasConfig2Binding" proxyAddress="http://proxy-etower.mc.mcon.net:8080" useDefaultWebProxy="False" />
    <binding name="BasicHttpBinding_ITermsConditionService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
    <binding name="BasicHttpBinding_IAccountingService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
  </basicHttpBinding>
</bindings>