<client>
  <endpoint address="http://localhost:8011/DataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="DataAccessProxy.IDataService" name="BasicHttpBinding_IDataService" />
  <endpoint address="http://localhost:8011/FapiaoPreferenceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFapiaoPreferenceService" contract="FapiaoPreferenceProxy.IFapiaoPreferenceService" name="BasicHttpBinding_IFapiaoPreferenceService" />
  <endpoint address="http://localhost:8011/PaymentService.svc" binding="basicHttpBinding" contract="PaymentService.IPaymentService" name="BasicHttpBinding_IPaymentService">
  </endpoint>
  <endpoint address="http://localhost:8011/TermsConditionService.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITermsConditionService"
            contract="TermsConditionService.ITermsConditionService" name="BasicHttpBinding_ITermsConditionService" />
  <endpoint address="http://localhost:8011/AccountingService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountingService"
      contract="AccountingService.IAccountingService" name="BasicHttpBinding_IAccountingService" />

  <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?auth" binding="basicHttpBinding" bindingConfiguration="WSKemasAuthBinding" contract="KEMASWSIF_AUTHRef.WSKemasPortType" name="KemasPort" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?catalog" binding="basicHttpBinding" bindingConfiguration="WSKemasCatalogBinding" contract="KEMASWSIF_CATALOGRef.WSKemasPortType" name="KemasPort1" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?config" binding="basicHttpBinding" bindingConfiguration="WSKemasConfigBinding" contract="KEMASWSIF_CONFIGRef.WSKemasPortType" name="KemasPort2" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carsharing/services/customer_soap/vwnms/?config" binding="basicHttpBinding" bindingConfiguration="WSKemasConfig2Binding" contract="KEMASWSIF_CONFIGRef.WSKemasPortType2" name="KemasConfigPort2" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?reservation" binding="basicHttpBinding" bindingConfiguration="WSKemasReservationBinding" contract="KEMASWSIF_RESERVATIONRef.WSKemasPortType" name="KemasPort3" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carsharing/services/customer_soap/vwnms/?reservation" binding="basicHttpBinding" bindingConfiguration="WSKemasReservation2Binding" contract="KEMASWSIF_RESERVATIONRef.WSKemasPortType2" name="kemasPort2" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?user" binding="basicHttpBinding" bindingConfiguration="WSKemasUserBinding" contract="KEMASWSIF_USERRef.WSKemasPortType" name="KemasPort4" />
  <endpoint address="http://download.kemas.de:80/kmn/applications/carsharing/services/customer_soap/vwnms/?user" binding="basicHttpBinding" bindingConfiguration="WSKemasUser2Binding" contract="KEMASWSIF_USERRef.WSKemasUserPortType" name="KemasUser2Port" />
</client>