<diagnostics>
  <messageLogging logEntireMessage="true" logMalformedMessages="true"
      logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
      maxMessagesToLog="1000000" maxSizeOfMessageToLog="26214400" />
  <endToEndTracing propagateActivity="true" activityTracing="true"
      messageFlowTracing="true" />
</diagnostics>
