<services>
  <service name="Proxy.DataService">
    <endpoint behaviorConfiguration="VrentHttpBehavior" binding="webHttpBinding"
      bindingConfiguration="RestBinding" name="BookingService" contract="CF.VRent.Contract.IVrentService" />
  </service>
  <service name="Proxy.LoginService">
    <endpoint behaviorConfiguration="VrentHttpBehavior" binding="webHttpBinding"
      bindingConfiguration="RestBinding" name="LoginService" contract="Proxy.ILoginService" />
  </service>
  <service name="Proxy.ListenUnionService">
    <endpoint behaviorConfiguration="VrentHttpBehavior" binding="webHttpBinding"
      bindingConfiguration="RestBinding" name="ListenUnionService"
      contract="Proxy.IListenUnionService" />
  </service>
  <service name="Proxy.PortalLoginService">
    <endpoint behaviorConfiguration="VrentHttpBehavior" binding="webHttpBinding"
      bindingConfiguration="RestBinding" name="PortalLoginService"
      contract="CF.VRent.Contract.IPortalLogin" />
  </service>
  <service name="Proxy.VrentAppService">
    <endpoint behaviorConfiguration="VrentHttpBehavior" binding="webHttpBinding"
      bindingConfiguration="RestBinding" name="VrentAppService" contract="CF.VRent.Contract.IVrentAppService" />
  </service>
</services>
