<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="VwfscnLog" type="VWFSCN.IT.Log.Configuration.LoggingConfigurationHandler, VWFSCN.IT.Log"/>
  </configSections>
  <!--connect php server-->
  <!-- php server response model -->
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <!--Log Handler-->

  <appSettings>
    <add key="EnableAuthentication"  value="true"/>
    <!--for debug only switch off session check-->

    <add key="EnableWCFTraceing" value="false"/>
    <!--log method execution tracing-->
    <add key="ApplicationName" value="VRentProxyCF"/>
    <!--common user id which using the call the function patch -->
    <add key="gid" value="1c9d9c82-d074-45a4-863e-e7eeb2384c64"/>
    <add key="DAL" value="CF.VRent.DAL"/>
  </appSettings>
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false"/>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"  cookieless="false" timeout="30"/>
    <!--<sessionState mode="InProc" timeout="30"/>-->
  </system.web>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSKemasBinding" maxBufferPoolSize="524288" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSKemasBinding1" maxBufferPoolSize="524288" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSKemasBinding3" maxBufferPoolSize="524288" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSKemasBinding4" maxBufferPoolSize="524288" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDataService" />
        <binding name="WSKemasBinding2" />


        <binding name="LargerBinding" maxBufferPoolSize="20000000" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?catalog"
        binding="basicHttpBinding" bindingConfiguration="WSKemasBinding3"
        contract="KEMASWSIF_CATALOGRef.WSKemasPortType" name="KemasPort3" />
      <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?auth"
        binding="basicHttpBinding" bindingConfiguration="WSKemasBinding"
        contract="KEMASWSIF_AUTHRef.WSKemasPortType" name="KemasPort" />
      <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?config"
        binding="basicHttpBinding" bindingConfiguration="WSKemasBinding4"
        contract="KEMASWSIF_CONFIGRef.WSKemasPortType" name="KemasPort4" />
      <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?user"
        binding="basicHttpBinding" bindingConfiguration="LargerBinding"
        contract="KEMASWSIF_USERRef.WSKemasPortType" name="KemasPort1" />
      <endpoint address="http://localhost:8011/DataService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDataService" contract="DataAccessProxy.IDataService"
        name="BasicHttpBinding_IDataService" />
      <endpoint address="http://download.kemas.de:80/kmn/applications/carpoolnet/services/customer_soap/vwnms/?reservation"
        binding="basicHttpBinding" bindingConfiguration="LargerBinding"
        contract="KEMASWSIF_RESERVATIONRef.WSKemasPortType" name="KemasPort2" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="false" automaticFormatSelectionEnabled="false"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <!--log section-->
  <VwfscnLog>
    <listeners>
      <add name="textListener" type="text" folder="D:\Log\VRentLog\" fileName="bat.txt"/>
      <!--<add name="l2" type="database" connectionString="Server=10.42.69.102;Database=CENTRAL_LOG;uid=sa;pwd=zaq12wsx;"/>-->
    </listeners>
    <filters minSeverity="low" maxLengthOfLogQueue="10000" enableSync="false"
             enableOwnTraceLog="true" ownTraceLogFileName="D:\lhx\CCS\Deployment\PbocStatusCheck\ownTraceLog.txt"
             enableOwnExceptionLog="true" ownExceptionLogFileName="D:\lhx\CCS\Deployment\PbocStatusCheck\ownExceptionLog.txt"/>
  </VwfscnLog>
</configuration>
